.card {
  border-radius: 15px;
  border: none;
  background-color: transparent;
}
img {
  border-radius: 15px;
}
.card-title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  font-weight: bold;
}
