<nav class="navbar navbar-expand-lg ">
  <div class="btn-group ml-5">
    <button type="button" class="btn btn-primary ">
      Create Playlist
    </button>

    <button
      type="button"
      class="btn text-white dropdown-toggle-split"
      style="background-color:#2B83F8"
      data-toggle="dropdown"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >playlist_add</mat-icon
      >
    </button>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-3">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Featured Tracks <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Videos</a>
      </li>
    </ul>
  </div>
</nav>
