<h5 class="mb-3">Listening History</h5>
<div class="card " *ngFor="let history of histories">
  <div class="row " id="trackList">
    <div
      class="col"
      style="display: flex;
    justify-content: flex-start;
    align-items: center;"
    >
      <img
        class="p-2"
        src="{{ history.img }}"
        alt=""
        style=" border-radius: 25%; width:70%;"
      />
    </div>
    <div
      class="col "
      style="display: flex;
    justify-content: flex-start;
    align-items: center;"
    >
      <p class="">
        {{ history.song_name }}
        <span class="text-secondary">{{ history.artist }}</span>
      </p>
    </div>
    <div
      class="col"
      style="display: flex;
    justify-content: flex-end;
    align-items: center;"
    >
      <button mat-mini-fab color="basic" id="PlayButton">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- try -->
