#trackList {
  background-color: white;
  box-shadow: 5px 5px #f3f3f3;
}
img {
  display: inline-block;
  vertical-align: middle;
}
.card {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0%;
  display: flex;
  align-items: center;
}
h5 {
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  font-weight: bold;
}
p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  font-weight: bold;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
#PlayButton {
  background-color: #0069d9;
}
