<div class="py-2  flex-grow-1">
  <div class="nav flex-sm-column ">
    <h5 class="text-center">Artist</h5>
    <div *ngIf="artist.artist">
      <div class="row m-2 mt-2" style="border-bottom:1px solid lightgray">
        <div class="col text-center ">
          <img src="{{ artist.artist?.img }}" alt="" id="artist-img" />

          <h5 class="my-2">{{ artist.artist?.artist }}</h5>
          <p class="mb-1 text-primary">{{ artist.artist?.rank }}</p>

          <div class="details">
            <mat-icon
              style="
               border-radius: 50%;
              color:white;
              background-color:darkblue;
            "
              >person</mat-icon
            >
            Followers
            <p>{{ artist.artist?.followers }}</p>
          </div>
          <div class="details">
            <mat-icon
              style="
               border-radius: 50%;
              background-color:yellow;
              color:blue;
              "
              >person_add</mat-icon
            >
            Following
            <p>{{ artist.artist?.following }}</p>
          </div>
          <div class="details">
            <mat-icon
              style="
            border-radius: 50%;
              background-color:pink; color:magenta"
              >thumb_up_alt</mat-icon
            >
            Likes
            <p>{{ artist.artist?.likes }}</p>
          </div>
          <div class="details">
            <mat-icon
              style="
               border-radius: 50%;
              background-color:black;
              color:pink;"
              >album</mat-icon
            >
            Playlist
            <p>{{ artist.artist?.playlist }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col px-0">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4ElvDadh09pSTNjNgzxK3N0nZIdb7DhVHMDUsc7DPR6hDSNYIg&s"
          style=" border-radius: 50%; width:70%;"
          class="double-border"
        />
        <h5 class="mt-5">Take it from me</h5>
        <p class="text-muted">Jordan Davis</p>
        <mat-icon>fast_rewind</mat-icon>
        <mat-icon>pause</mat-icon>
        <mat-icon>fast_forward</mat-icon>
      </div>
    </div>
  </div>
</div>
